.main-table {
    width: 100%;
}

.main-table thead {
    font-size: 40px;
}

.main-table td:nth-child(3),
.main-table th:nth-child(3) {
    width: 20%;
}

.main-table td:nth-child(4),
.main-table th:nth-child(4) {
    width: 20%;
}

.td-id {
    text-align: center;
}

.main-table tbody {
    font-size: 20px;
}

.td-date {
    text-align: center;
}

.td-content {
    padding: 10px 15px;
}

.note-active {
    text-decoration: none;
}

.note-archive {
    text-decoration: line-through;
}
.note-active .t-edit {
    display: flex;
}

.note-archive .t-edit {
    display: none;
}

.tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.tools-container > div {
    display: flex;
    align-items: center;
}

.tools-container img {
    height: 30px;
    transition: 0.3s;
}

.tools-container img:hover {
    scale: 1.2;
}

.input-wrapper {
    position: fixed;
    bottom: 5px;
    width: 97vw;

    display: flex;
    justify-content: center;
}

.input-wrapper input {
    height: 80px;

    font-size: 25px;
}

#i-text {
    width: 80vw;
}

#i-btn {
    width: 15vw;
}